<div *ngIf="data.length > 0">
  <h1 style="color: crimson"> {{error}}</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Active</th>
      <th scope="col">Status</th>
      <th scope="col">Busy</th>
      <th scope="col">Date created</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let machines of data; index as i">
      <th scope="row">{{ machines.id }}</th>
      <td>{{ machines.name }}</td>
      <td> {{ machines.active}} </td>
      <td> {{ machines.status}} </td>
      <td> {{ machines.busy}} </td>
      <td> {{ machines.dateFrom}} </td>
      <td>
        <button class="btn btn-primary"
                (click)="startMachine(machines.id)"
                type="button"
                [disabled]="machines.status !== 'STOPPED' || machines.busy">
          Start
        </button>
      </td>
      <td>
          <button class="btn btn-primary"
                  (click)="stopMachine(machines.id)"
                  type="button"
                  [disabled]=" machines.status !== 'RUNNING'  || machines.busy">

            Stop
          </button>

      </td>
      <td>
        <button class="btn btn-warning"
                (click)="restartMachine(machines.id)"
                type="button"
                [disabled]="machines.status !== 'RUNNING' || machines.busy">
          Restart
        </button>
      </td>
      <td>
        <button class="btn btn-danger"
                (click)="onDelete(machines.id)"
                type="button"
                [disabled]=" machines.busy">
          Deactivate
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

  <div class="example-container mat-elevation-z8">
    <form [formGroup]="searchMachineForm" (submit)="searchMachine()" class="mb-5">
      <div class="form-group">
        <label for="name">Search machine by name</label>
        <input type="name" class="form-control" id="name" placeholder="Enter machine name"
               [formControlName]="'name'">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <h6>Search machine by date created</h6>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input [(ngModel)]="startDate" matStartDate formControlName="start" placeholder="Start date">
        <input [(ngModel)]="endDate" matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
<br><br>
    <h6>Search machine by status</h6>
    <section class="example-section">
      <div class="form-check">
        <input
          [(ngModel)]="stopped"
          [checked]="false"
          name="stopped"
          class="form-check-input"
          type="checkbox"
          value=""
          id="stopped"
        />
        <label class="form-check-label" for="stopped">Stopped</label>
      </div>
      <div class="form-check">
        <input
          [(ngModel)]="running"
          [checked]="false"
          name="running"
          class="form-check-input"
          type="checkbox"
          value=""
          id="running"
        />
        <label class="form-check-label" for="running">Running</label>
      </div>
<!--      <label>-->
<!--      <input type="checkbox"  [(ngModel)]="stopped" [checked]="false" class="example-margin">Stopped-->
<!--      </label>-->
<!--      <br>-->
<!--      <label>-->
<!--        <input type="checkbox"  [(ngModel)]="running" [checked]="false" class="example-margin">Running-->
<!--      </label>-->
<!--      <mat-checkbox [(ngModel)]="running" class="example-margin">running</mat-checkbox>-->
    </section>


</div>
