 <div class="col-xs-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Message</th>
        <th scope="col">Operation</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let errorMessageElem of errorMessageList; let i = index">
        <th scope="row">{{errorMessageElem.id}}</th>
        <td>{{errorMessageElem.message}}</td>
        <td>{{errorMessageElem.operation}}</td>
        <td>{{errorMessageElem.date}}</td>
      </tr>
      </tbody>
    </table>
  </div>


